*.exe
**/02_Intermediate_Techniques/Module_4_Libraries_and_GenAI/json/


# Ignore all build folders and their contents
build/
**/build/

# Ignore executables and compiler artifacts
*.out
*.exe
ConfigManager


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Linker output
*.out
*.exe
*.app

# CMake artifacts (Specific to your images)
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile
build/
02_Intermediate_Techniques/Module_4_Libraries_and_GenAI/CompleteExternalLibraryProject/simple_web
02_Intermediate_Techniques/Module_4_Libraries_and_GenAI/CompleteExternalLibraryProject/multi_scraper
02_Intermediate_Techniques/Module_4_Libraries_and_GenAI/CompleteExternalLibraryProject/multi_scraper
